<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

  <h2 th:text="#{welcome}">Welcome</h2>
  
  <p>Dies ist eine angepasste Version der Spring PetClinic für das Projekt #HSFDPMUW .</p>

  <div class="row">
    <div class="col-md-12">
      <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}" />
    </div>
  </div>
  
 <footer style="text-align: center; margin-top: 40px;">
    <p>Bearbeitet im Rahmen des #HSFDPMUW-Projekts (HS Fulda)</p>
  </footer>
  
</body>

</html>
